

body {
  margin: 0;
}


/* make background-wrapper position: absolute work */
body {
  position: absolute;
  left: 0;
  right: 0;
}


p, ul, ol, h1, h2, h3 {
  /* get rid of default margins around text */
	margin: 0;
}

