
@value contentHidden from './Layout.module.css';
@value contentCollapsed from './Layout.module.css';
@value instantContentCollapsed from './Layout.module.css';


.itemWrapper {
  opacity: 1;
  transform: none;
  transition-property: opacity, transform;
  transition-duration: 500ms;
  /* transition-timing-function: ease-out; */
  
}
:global(.contentHidden) .itemWrapper {
  opacity: 0;
  transform: translateY(30px);
  /* transition-timing-function: ease-in; */
  transition-duration: 300ms;
}


.item {
  display: flex;
  flex-direction: column;
  /* which width is better? constant px or decreasing for smaller screens? */
  width: 850px;
  /* f(1800)=850, f(1100)=700: */
  /* width: calc(490px + 20vw); */
  margin: 120px auto;
  
  max-height: 800px;
  
  transition: max-height, margin;
  transition-duration: 450ms;
  /* transition-timing-function: cubic-bezier(0.2,0.1, 0.2,1); */
  
  /* --link-color: hsl(189.8deg 47.6% 67%);
  --link-hover-color: hsl(171.8deg 67.7% 74.5%); */
  --link-color: hsl(190deg 27.8% 78.8%);
  --link-hover-color: hsl(162.8deg 68.6% 90%);
}

.item.first {
  margin-top: 80px;
}
.item.last {
  margin-bottom: 100px;
}

:global(.contentCollapsed) .item {
  max-height: 50vh;
  /* override the first/last margins above and the default margins */
  margin: 0 auto;
}
:global(.instantContentCollapsed) .item {
  /* when portfolio is not visible, transition instantly */
  transition-duration: 0;
}

.item {
  /* TODO display none vs visibility hidden? */
  display: none;
}
.portfolioVisible .item {
  display: flex;
}

.img {
  border-radius: 40px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.25);
  /* shadow over text above and below */
  z-index: 1;
  background-color: white;
}

.video {
  composes: img;
  aspect-ratio: 16 / 9;
}

.text {
  margin-inline: 55px;
  padding-inline: 22px;
  background: hsla(254, 13%, 21%, 1);
  color: white;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.25);
}

.textTop {
  composes: text;
  padding-block: 15px 15px;
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.textBottom {
  composes: text;
  padding-block: 15px 20px;
  border-radius: 0 0 16px 16px;
}


.topLine {
  display: flex;
  justify-content: space-between;
  /* align github to the bottom of the line-height of h2 */
  align-items: flex-end;
}

.text h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  line-height: 1;
}
.text h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: hsl(0 0% 83%);
  line-height: 1;
}

.text h2:hover a {
  text-decoration: underline;
}


.links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.links img {
  transition: filter 200ms;
}
.links a:hover img {
  /* filter: brightness(2.8) hue-rotate(-20deg) saturate(0.9); */
  filter: brightness(3.6) hue-rotate(-20deg) saturate(0.5);
}
.links a {
  color: var(--link-color);
  transition: color 200ms;
  line-height: 0;
}
.links a:hover {
  color: var(--link-hover-color);
}
.links .plaintext {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 11px;
  transform: scaleY(1.2);
  letter-spacing: -0.02em;
}
.github {
  width: 24px;
  height: 24px;
  /* filter: brightness(2.4) hue-rotate(0deg) saturate(0.9); */
  filter: brightness(2.7) hue-rotate(0deg) saturate(0.3);
}



.description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 124%; /* out of date -> 19.2px (from figma) */
}


.a {
  /* contrast 7:1 on this bkgd according to chrome devtools */
  /* color: hsl(241 100% 86% / 1); */
  color: var(--link-color);
  transition: color 200ms;
  text-decoration: underline;
}
.a:hover {
  color: var(--link-hover-color);
}



