


.block {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 80px auto 140px;
  
  max-height: 600px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.img {
  border-radius: 70px;
  width: 100%;
  height: auto;
}

.description {
  margin-inline: 30px;
  border-radius: 0 0 10px 10px;
  background: hsl(180deg, 10%, 10%);
}



